


.container1 {
    max-width: 500px;  /* Ajusta el tamaño máximo del contenedor */
    width: 100%;
    background: #fff;
    padding: 20px;
    margin: 50px auto;  /* Centra el contenedor en la pantalla */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container1 h2, .container1 a {
    text-align: center;
    margin-bottom: 20px;
}

.container1 input, .container1 button {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container1 button {
    background-color: #1da11d;
    color: white;
    border: none;
    cursor: pointer;
}

.container1 button:hover {
    background-color: #0c1830;
}

.container1 label {
    display: block;
    margin: 10px 0;
}

@media (max-width: 480px) {
    .container1 {
        padding: 15px;
        margin: 10px;
    }

    .container1 input, .container button {
        padding: 8px;
    }
}
.password-container {
    position: relative;
  }
  
  .password-container input {
    width: calc(100% - 30px); /* Ajusta según sea necesario */
  }
  
  .password-container .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
