{% extends "inicio/encabezado.html" %} 
{% block titulo %}Acerca{% endblock %}
{% block contenido %}
         <!-- service section -->
{%load static%}
<section class="articles">

  <article>
    <div class="article-wrapper">
      <figure>
        <img src="{% static 'inicio/images/a1.jpg'%}" alt="" />
      </figure>
      <div class="article-body">
        <h2> Sobre Nosotros</h2>
        <p>
          CaminemosBien es una empresa mexicana apasionada por la naturaleza y el senderismo. Nuestro objetivo es...
        </p>
        <a href="{%url 'Nosotros'%}" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="{% static 'inicio/images/a2.jpg'%}" alt="" />
      </figure>
      <div class="article-body">
        <h2>NivelesBIEN</h2>
        <p>
          En CaminemosBien, entendemos que cada senderista tiene diferentes necesidades y niveles de experiencia. Por eso...  
        </p>
        <a href="{%url 'Caminemos'%}" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="{% static 'inicio/images/a3.jpg'%}"alt="" />
      </figure>
      <div class="article-body">
        <h2>KitsBIEN</h2>
        <p>
          En CaminemosBien, sabemos que contar con el equipo adecuado es esencial para disfrutar de una experiencia de senderismo segura y placentera. Por ello...  
        </p>
        <a href="{%url 'Kits'%}" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
    
  </article>

  <article>
    <div class="article-wrapper">
      <figure>
        <img src="{% static 'inicio/images/a4.jpg'%}" alt="" />
      </figure>
      <div class="article-body">
        <h2>SegurosBIEN</h2>
        <p>
          En CaminemosBien, tu seguridad es nuestra prioridad. Entendemos que disfrutar de la naturaleza implica ciertos riesgos, por eso hemos creado seguroBIEN, un completo seguro de vida diseñado especialmente para nuestros senderistas. Queremos que...
        </p>
        <a href="{%url 'Seguro'%}" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>

    <div class="article-wrapper">
      <figure>
        <img src="{% static 'inicio/images/a5.jpg'%}" alt="" />
      </figure>
      <div class="article-body">
        <h2>Terminos y Condiciones</h2>
        <p>
          Al participar en nuestras actividades y utilizar nuestros servicios, aceptas cumplir con los siguientes términos y condiciones. Te pedimos que los leas detenidamente...
        </p>
        <a href="{%url 'Terminos'%}" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
</section>

{% endblock %}

