{% extends "inicio/encabezado.html" %}{%block titulo%}Sobre Nosotros{%endblock%}
{% block contenido %}

    <!-- Blog Start -->
    <div class="container-fluid py-5">
      <div class="container py-5">
          <div class="row">
    
                  <!-- Blog Detail Start -->
                  <div class="pb-3">
                      <div class="bg-white mb-3" style="padding: 30px;">
                          <div class="d-flex mb-3">
                              <a class="text-primary text-uppercase text-decoration-none" href="">Acerca</a>
                              <span class="text-primary px-2">|</span>
                              <a class="text-primary text-uppercase text-decoration-none" href="">CaminemosBIEN</a>
                          </div>
                          <h2 class="mb-3">CaminemosBIEN</h2>
                          <p>
                            CaminemosBien es una empresa mexicana apasionada por la naturaleza y el senderismo. Nuestro objetivo es conectar a las personas con la belleza natural de México, ofreciendo experiencias de senderismo únicas y memorables. Desde montañas majestuosas hasta selvas exuberantes, nuestras rutas están diseñadas para mostrar lo mejor de la biodiversidad y la cultura de nuestro país.</p>
                            
                          <h3>Nuestra Misión</h3>
                         <p> Promover el amor por la naturaleza y el respeto por el medio ambiente a través de aventuras seguras y emocionantes. Nos esforzamos por crear conciencia sobre la importancia de la conservación y el ecoturismo responsable.</p>

                            <h3>Nuestra Valores</h3>
                            <p>- Sostenibilidad: Comprometidos con prácticas que minimizan nuestro impacto ambiental. </p>
                            <p>- Seguridad: Priorizamos la seguridad de nuestros clientes con guías expertos y equipamiento de calidad. </p>
                            <p>- Comunidad: Fomentamos el espíritu de camaradería y apoyo mutuo entre nuestros senderistas. </p>
                            <p>- Educación: Informamos y educamos sobre la flora, fauna y cultura locales durante nuestras expediciones. </p>
                            
                            <h3>¿Por Qué Elegirnos?</h3>
                            <p>- Rutas Exclusivas: Acceso a senderos poco conocidos y paisajes impresionantes. </p>
                            <p>- Guías Expertos: Nuestro equipo está compuesto por guías certificados con amplio conocimiento del terreno y la biodiversidad local. </p>
                            <p>- Experiencias Personalizadas: Ofrecemos paquetes adaptados a diferentes niveles de experiencia y preferencias, desde caminatas relajadas hasta desafiantes aventuras. </p>
                            <p>- Compromiso Ambiental: Trabajamos con comunidades locales y organizaciones de conservación para proteger los entornos naturales que visitamos. </p>
                            
                            <h1>¡Únete a la Aventura!</h1>
                            <p>En CaminemosBien, creemos que el senderismo es más que una actividad; es una forma de vida. Te invitamos a descubrir la riqueza natural de México con nosotros, creando recuerdos inolvidables mientras fomentamos un futuro más verde y sostenible.</p>
                         
                          
                  </div>
                  <!-- Blog Detail End -->
  
                  
              </div>
          </div>
      </div>
  </div>
  <!-- Blog End -->
  <section>

{% endblock %}
