{% extends "inicio/encabezado.html" %}{%block titulo%}SegurosBIEN{%endblock%}
{% block contenido %}

    <!-- Blog Start -->
    <div class="container-fluid py-5">
      <div class="container py-5">
          <div class="row">
    
                  <!-- Blog Detail Start -->
                  <div class="pb-3">
                      <div class="bg-white mb-3" style="padding: 30px;">
                          <div class="d-flex mb-3">
                              <a class="text-primary text-uppercase text-decoration-none" href="">Acerca</a>
                              <span class="text-primary px-2">|</span>
                              <a class="text-primary text-uppercase text-decoration-none" href="">Seguros</a>
                          </div>
                          <h2 class="mb-3">SegurosBIEN</h2>
                          <p>SeguroBIEN es un seguro de vida integral que te protege a ti y a tus seres queridos mientras participas en nuestras actividades de senderismo. Este seguro ha sido diseñado pensando en las particularidades de las aventuras al aire libre, brindándote la tranquilidad de estar cubierto ante cualquier eventualidad.</p>

                          <h3>Cobertura del seguroBIEN</h3>
                          <p>- Accidentes Personales: Cobertura ante cualquier accidente que pueda ocurrir durante nuestras actividades de senderismo, incluyendo gastos médicos, hospitalización y tratamientos necesarios.</p>
                          <p>- Fallecimiento Accidental: En caso de un accidente fatal, seguroBIEN ofrece una compensación económica a tus beneficiarios, asegurando el bienestar de tus seres queridos.</p>
                          <p>- Incapacidad Permanente: Si un accidente te causa una incapacidad permanente, nuestro seguro proporciona un apoyo económico para ayudarte a enfrentar esta nueva situación.</p>
                          <p>- Rescate y Evacuación: Cobertura de los costos asociados con operaciones de rescate y evacuación en caso de emergencia durante nuestras rutas de senderismo.</p>
                          <p>- Responsabilidad Civil: Protección ante posibles reclamaciones de terceros por daños o lesiones causados accidentalmente durante la actividad.</p>
                          
                          <h3>Beneficios de seguroBIEN</h3>
                          <p>- Tranquilidad: Disfruta de tus aventuras sabiendo que estás protegido ante cualquier imprevisto.</p>
                          <p>- Protección Integral: Cobertura completa que abarca desde accidentes menores hasta situaciones más graves.</p>
                          <p>- Asistencia Inmediata: Acceso a servicios de emergencia y asistencia médica en cualquier momento.</p>
                          <p>- Apoyo a Tu Familia: Seguridad financiera para tus seres queridos en caso de un accidente grave o fatal.</p>

                          ¿Cómo Funciona?
                          <p>- Inscripción: Al inscribirte en una de nuestras actividades de senderismo, automáticamente obtienes la cobertura del seguroBIEN.</p>
                          <p>- Cobertura Inmediata: La cobertura del seguro entra en vigor desde el momento en que inicias tu aventura con nosotros.</p>
                          <p>- Asistencia Permanente: Nuestro equipo está disponible 24/7 para asistirte en caso de cualquier emergencia.</p>
                          <p>- Reclamos Sencillos: En caso de necesitar hacer un reclamo, nuestro proceso es simple y eficiente para garantizar que recibas el apoyo necesario sin complicaciones.</p>
                  </div>
                  <!-- Blog Detail End -->
  
                  
              </div>
          </div>
      </div>
  </div>
  <!-- Blog End -->
  <section>

{% endblock %}