{% extends "inicio/encabezado.html" %}{%block titulo%}Terminos y Condiciones{%endblock%}
{% block contenido %}

    <!-- Blog Start -->
    <div class="container-fluid py-5">
      <div class="container py-5">
          <div class="row">
    
                  <!-- Blog Detail Start -->
                  <div class="pb-3">
                      <div class="bg-white mb-3" style="padding: 30px;">
                          <div class="d-flex mb-3">
                              <a class="text-primary text-uppercase text-decoration-none" href="">Acerca</a>
                              <span class="text-primary px-2">|</span>
                              <a class="text-primary text-uppercase text-decoration-none" href="">Terminos y Condiciones</a>
                          </div>
                          <h2 class="mb-3">Terminos y Condiciones</h2>
                          Bienvenido a CaminemosBien. Al participar en nuestras actividades y utilizar nuestros servicios, aceptas cumplir con los siguientes términos y condiciones. Te pedimos que los leas detenidamente.

                           <h5> 1. Aceptación de los Términos</h5> 
                            <p>Al inscribirte y participar en cualquier actividad organizada por CaminemosBien, aceptas estos términos y condiciones en su totalidad. Si no estás de acuerdo con alguna parte, te solicitamos que no te inscribas ni participes en nuestras actividades.
                            <h5> 2. Inscripción y Pago </h5> 
                            <p> Proceso de Inscripción: Para participar en nuestras actividades, debes completar el formulario de inscripción y proporcionar la información solicitada de manera precisa y completa. </p>
                                <p> Pago: El pago total de la actividad debe realizarse al momento de la inscripción. Aceptamos varios métodos de pago, que se detallarán durante el proceso de inscripción. </p>
                            <h5>3. Políticas de Cancelación y Reembolsos</h5> 
                            <p>Cancelación por Parte del Cliente: Si necesitas cancelar tu participación, debes informarnos con al menos 48 horas de anticipación para ser elegible para un reembolso parcial. No se realizarán reembolsos por cancelaciones con menos de 48 horas de anticipación. </p>
                                <p>Cancelación por Parte de CaminemosBien: Nos reservamos el derecho de cancelar o reprogramar actividades debido a condiciones climáticas adversas, problemas de seguridad u otras circunstancias imprevistas. En tales casos, se ofrecerá un reembolso completo o la opción de reprogramar la actividad. </p>
                            <h5> 4. Requisitos de Salud y Condición Física</h5> 
                            <p>Declaración de Salud: Al inscribirte, declaras que gozas de buena salud y condición física adecuada para participar en actividades de senderismo. Debes informar a nuestro equipo sobre cualquier condición médica que pueda afectar tu participación. </p>
                                <p>Evaluación Física: CaminemosBien se reserva el derecho de realizar una evaluación física previa a la actividad para asegurar que todos los participantes estén en condiciones de realizar la caminata de manera segura. </p>
                            <h5> 5. Conducta del Participante</h5> 
                            <p>Comportamiento: Se espera que todos los participantes mantengan un comportamiento respetuoso y sigan las instrucciones del guía en todo momento. </p>
                                <p>Responsabilidad: Los participantes son responsables de sus pertenencias personales durante las actividades. CaminemosBien no se hace responsable por la pérdida o daño de objetos personales. </p>
                            <h5>  6. Uso de Equipos y Kits</h5> 
                            <p>Equipos: CaminemosBien proporcionará el equipo necesario para cada actividad. Los participantes deben utilizar y devolver el equipo en buenas condiciones. </p>
                                <p>Kits: Los kits de senderismo proporcionados por CaminemosBien están diseñados para mejorar tu experiencia y seguridad. El uso adecuado de estos kits es responsabilidad del participante. </p>
                            <h5> 7. Seguro y Responsabilidad</h5> 
                            <p> Seguro: Todos los participantes estarán cubiertos por el seguroBIEN durante la actividad. Consulta la sección "seguroBIEN" para obtener más detalles sobre la cobertura. </p>
                                <p> Renuncia de Responsabilidad: Al participar, aceptas liberar a CaminemosBien y a sus empleados de cualquier responsabilidad por lesiones, pérdidas o daños que puedan ocurrir durante la actividad, exceptuando casos de negligencia grave. </p>
                            <h5> 8. Derechos de Imagen</h5> 
                            <p>Fotografías y Videos: CaminemosBien puede tomar fotografías y videos durante las actividades para fines promocionales. Al participar, autorizas el uso de tu imagen en dichos materiales. Si prefieres no ser fotografiado, infórmanos antes de la actividad. </p>
                            <h5> 9. Modificaciones a los Términos</h5> 
                            <p>Cambios: CaminemosBien se reserva el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones se publicarán en nuestro sitio web y serán efectivas inmediatamente. </p>
                            <h5> 10. Contacto</h5> 
                            <p>Información de Contacto: Para cualquier pregunta o aclaración sobre estos términos y condiciones, puedes contactarnos a través de nuestros canales de atención al cliente. </p>
                        </div>
                  <!-- Blog Detail End -->
  
                  
              </div>
          </div>
      </div>
  </div>
  <!-- Blog End -->
  <section>

{% endblock %}